<section class="skills-section">
    <div class="container">
        <h2>Skills</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.
            Cras venenatis euismod malesuada. Curabitur ultricies libero vel neque dictum, id hendrerit tortor dictum.
        </p>
        <div class="row">
            <div class="col-md-4">
                <ul class="skills-list">
                    <li>HTML & CSS</li>
                    <li>JavaScript</li>
                    <li>Responsive Design</li>
                    <li>Web Design</li>
                    <li>Mobile App Design</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="progress mb-2">
                    <div class="progress-bar" style="width: 90%;">HTML & CSS 90%</div>
                </div>
                <div class="progress mb-2">
                    <div class="progress-bar" style="width: 80%;">JavaScript 80%</div>
                </div>
                <div class="progress mb-2">
                    <div class="progress-bar" style="width: 75%;">Responsive Design 75%</div>
                </div>
                <div class="progress mb-2">
                    <div class="progress-bar" style="width: 85%;">Web Design 85%</div>
                </div>
                <div class="progress mb-2">
                    <div class="progress-bar" style="width: 70%;">Mobile App Design 70%</div>
                </div>
            </div>
        </div>
    </div>
</section>