<section class="portfolio-section">
    <div class="container">
        <h2>Portfolio</h2>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="https://www.datocms-assets.com/48294/1609157793-7-web-design-portfolio-of-charles-diggs.jpg?auto=format&dpr=1&w=1199"
                        class="card-img-top" alt="Web Design">
                    <div class="card-body">
                        <h5 class="card-title">Web Design For UI/UX Designer</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="https://www.datocms-assets.com/48294/1609157944-9-we-are-impero.jpg?auto=format&dpr=1&w=1200"
                        class="card-img-top" alt="Interior Designer">
                    <div class="card-body">
                        <h5 class="card-title">Web Design For Interior Designer</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="https://www.datocms-assets.com/48294/1609158144-12-crafton-web-design-agency.jpg?auto=format&dpr=1&w=1200"
                        class="card-img-top" alt="Furniture Designer">
                    <div class="card-body">
                        <h5 class="card-title">Portfolio Website For Furniture Designer</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="https://www.datocms-assets.com/48294/1636144300-2-personal-portfolio-of-amalia-boier.png?auto=format&dpr=1&w=1200"
                        class="card-img-top" alt="Web Application Development">
                    <div class="card-body">
                        <h5 class="card-title">UI/UX Design for Interior Desginer</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="https://www.datocms-assets.com/48294/1636144696-16-personal-portfolio-of-valeria-francis.jpeg?auto=format&dpr=1&w=1200"
                        class="card-img-top" alt="Web Application Development For Grocary">
                    <div class="card-body">
                        <h5 class="card-title">Web Application Development For Grocary</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="https://www.datocms-assets.com/48294/1636144631-14-personal-portfolio-of-stanislav-bondar.png?auto=format&dpr=1&w=1200"
                        class="card-img-top" alt="Portfolio Website For a Photographer">
                    <div class="card-body">
                        <h5 class="card-title">Portfolio Website For a Photographer</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>